<div id="thm">
    <div id="theme-options-wrapper">
        <div data-mode="light" id="light-mode" class="theme-dot"></div>
        <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
        <div data-mode="green" id="green-mode" class="theme-dot"></div>
        <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
        <span id="settings-note">*Changer de théme</span>
    </div>
</div>
