@import "https://fonts.googleapis.com/css?family=Raleway";
:root {
    --mainColor: #ffffff;
    --secondaryColor: #fff;
    --borderColor: #d1d1d1;
    --mainText: #000000;
    --secondaryText: #8e9497;
    --themeDotBorder: #24292e;
    --previewBg: #fbf9f3cc;
    --previewShadow: #000000;
    --buttonColor: #6ad4e2;
    --cardDetails: #d1d1d1d2;
    --iconsColor: #000000;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: auto;
    background-color: var(--mainColor);
}

body * {
    transition: .3s;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondaryText);
    font-family: 'Raleway', monospace;
}

a {
    text-decoration: none;
    color: #57a0c2;
}

ul {
    list-style: none;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}


/* NAVBAR */

.intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    padding: 15px;
    margin: 0 4rem;
    gap: .5em;
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.top {
    position: fixed;
    top: 0rem;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: var(--mainColor);
    font-weight: bold;
    transition: all 1s;
}

.top a {
    color: var(--buttonColor);
    text-decoration: underline;
}

.top a:hover {
    color: #3997c2;
}

#navigation {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#thm {
    margin: 0;
    padding: 0;
    display: block;
}

#navigation a {
    text-decoration: none;
    background-color: var(--buttonColor);
    color: white;
    border-radius: .5rem;
    padding: 1rem;
    margin: 0 1rem;
}

#navigation a:hover {
    text-decoration: underline;
    color: var(--iconsColor);
    background-color: var(--mainColor);
}


/* SECTIONS */

.sectionContainer {
    background-color: var(--secondaryColor);
}

.mainContainer {
    background-color: var(--mainColor);
    position: absolute;
    width: 100%;
    margin: 6rem auto;
}

.greeting-wrapper {
    background-color: var(--secondaryColor);
    position: absolute;
    top: 7em;
    z-index: 1;
}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
}

.theme-dot {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--buttonColor);
    cursor: pointer;
}

.theme-dot:hover {
    border-width: 6px;
}

#light-mode {
    background-color: #fff;
}

#blue-mode {
    background-color: #192734;
}

#green-mode {
    background-color: #78866b;
}

#purple-mode {
    background-color: #7E4C74;
}

#settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}


/* FOOTER */

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 4rem;
    gap: 100px;
    background-color: var(--previewShadow);
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
    border-radius: 5rem;
}

.social-links {
    display: grid;
    align-content: center;
    text-align: center;
}

.social-img {
    margin-top: 0;
}


/* POST */

.post-wrapper {
    background-color: var(--mainColor);
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    margin: 0.5rem;
    width: 100%;
    height: min-content;
    border: 1px solid var(--borderColor);
    box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.thumbnail {
    display: block;
    width: 100%;
    object-fit: cover;
}

.post-preview {
    background-color: var(--mainColor);
    padding: 15px;
}

.post-title {
    color: var(--secondaryText);
    margin: 0;
}

.post-intro {
    color: var(--secondaryText);
    font-size: 14px;
}


/* ICONS */

#icon-bar {
    display: flex;
    flex-direction: column;
    top: 55vh;
    z-index: 1000;
    position: fixed;
    transform: translateY(-50%);
    transition: all 1s;
}

#icon-bar>a {
    border-radius: .5rem;
    text-align: center;
    margin: 0.5rem;
    padding: .5rem;
    background: var(--cardDetails);
    text-shadow: 1px 1px rgba(255, 241, 241, 0.363);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.692);
    font-size: 20px;
    transition: all 1s;
}

#icon-bar>a:hover {
    background: var(--borderColor);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.651);
}

.facebook {
    color: var(--iconsColor);
}

.twitter {
    color: var(--iconsColor);
}

.google {
    color: var(--iconsColor);
}

.linkedin {
    color: var(--iconsColor);
}

.youtube {
    color: var(--iconsColor);
}


/* CARD INDEX */

header {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media (min-width: 30em) {
    .band {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 60em) {
    .band {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    background: var(--mainColor);
    text-decoration: none;
    color: var(--mainText);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}

.card:hover {
    top: -15px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.418);
}

.card article {
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h1 {
    font-size: 20px;
    margin: 0;
}

.card p {
    flex: 1;
    color: var(--mainText);
    line-height: 1.4;
}

.card span {
    font-size: 12px;
    font-weight: bold;
    color: var(--mainText);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}

.card .thumb {
    padding-bottom: 30%;
    background-size: cover;
    background-position: center center;
}

.card .infos {
    font-size: 0.7em;
    padding: .5rem;
    background: var(--buttonColor);
    color: var(--previewShadow);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 60em) {
    .item-1 {
        grid-column: 1/span 2;
    }
    .item-1 h1 {
        font-size: 24px;
    }
}